* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
    font-weight: 400;
    line-height: 1.5;
}

#mainNav {
    background-color: #212529;
}

.main {
    max-width: 1000px;
    margin: auto;
}

.row {
    margin: auto;
    width: 70%;
}

.row,
.row>.column {
    padding: 8px;
}

.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: white;
    padding: 10px;
}

.content:hover {
    background-color: #5c5e5f;
    color: white;
}

.smile .image-fluid {
    position: absolute;
}

.big-image {
    margin: auto;
    width: 30%;
}

.more-content {
    margin: auto;
    width: 70%;
    background-color: white;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
    width: 80%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    user-select: none;
}

.next {
    right: 0;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    position: absolute;
    width: 100%;
    text-align: center;
}

.numbertext {
    color: #f2f2f2;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    margin: 0;
    background-color: #bbb;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 90%;
    min-width: 50%;
    height: auto;
    z-index: 2000;
    visibility: hidden;
}

.md-show {
    visibility: visible;
}

.md-content {
    color: #cdc409;
    background: #212529;
    position: relative;
    margin: 0 auto;
    opacity: 0.0;
}

.md-show .md-content {
    opacity: 1.0;
}

.md-content h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
    font-size: 2.4em;
    font-weight: 300;
    opacity: 0.8;
}

.md-content>div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
}

.md-content>div p {
    margin: 0;
    padding: 10px 0;
}

.md-content>div ul {
    margin: 0;
    padding: 0 0 30px 20px;
}

.md-content>div ul li {
    padding: 5px 0;
}

button {
    border: none;
    padding: 0.6em 1.2em;
    background: #7c9bc9;
    color: #fff;
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    margin: 3px 2px;
}

.md-content button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0.0;
}

.md-show~.md-overlay {
    opacity: 1.0;
    visibility: visible;
}